__MACOSX/

# Dependencies
node_modules/
/.pnp
.pnp.js
package-lock.json

# Testing
/coverage

# Production
/build
/dist

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp
*.swo
*~

# OS files
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# Cache
.npm
.eslintcache
.stylelintcache
.cache/

# Yarn
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# TypeScript
*.tsbuildinfo

# Temporary files
*.tmp
*.temp
